/* 
    Document   : style
    Created on : Feb 4, 2013, 10:23:53 AM
    Author     : Dell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
div{background: activeborder;margin: 100px auto;color:brown;}
